html, body {
  font-family: $font-stack;
}

#popup-body {
  min-width: $popup-width;
  max-width: $popup-width;
  width: $popup-width;
  max-height: $popup-height;
  min-height: $popup-height;
  height: $popup-height;
}

.marginless {
  margin: 0;
}

.break-word {
  word-wrap: break-word;
}

.section-title {
  margin: 1rem 0 0.5rem 0;
  font-size: 2.2rem;
}

#submit-speeds-container {
  margin: 1rem 0 0 0;
}

#submit-speeds-button {
  width: 100%;
  padding: 0;
}

#video-id {
  display: block;
}

main {
  position: relative;
}

#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(#fff, 0.75);
  border-radius: 5px;
  z-index: 1;
  opacity: 1;

  &::before {
    content: '';
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: $loading-spinner-color;
    animation: spinner .6s linear infinite;
  }

  &.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;

    &::before {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#error {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(#fff, 1);
  border-radius: 5px;
  z-index: 1;
  opacity: 1;

  &::before {
    content: 'Please reload YouTube to use YouTube Speed Memory';
    box-sizing: border-box;
    position: fixed;
    font-size: 2rem;
    color: $loading-spinner-color;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;

    &::before {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}